[data-switch] {
  --switch-width: 36px;
  --switch-slider-bound: 14px;
  --switch-height: calc(var(--switch-width) - var(--switch-slider-bound));
  --switch-slider-nob-color: var(--subtext0);
  --switch-inactive-color: var(--surface0);
  --switch-active-color: var(--sky);
}

[data-switch] #switch__slider:before {
  background-color: var(--switch-slider-nob-color);
}

[data-switch] #switch__input:checked + #switch__slider {
  background-color: var(--switch-active-color) !important;
}

[data-switch] #switch__input:checked + #switch__slider::before {
  background-color: var(--surface0);
}

[data-switch] #switch__input:focus + #switch__slider {
  box-shadow: 0 0 1px var(--switch-active-color);
}

[data-switch] #switch__input:checked + #switch__slider:before {
  -webkit-transform: translateX(var(--switch-slider-bound));
  -ms-transform: translateX(var(--switch-slider-bound));
  transform: translateX(var(--switch-slider-bound));
}